<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Cargar datos | BarberXsystem</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap2.min.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<link rel="shotcut icon" th:href="@{/img/logo.png}">
	<script src="https://kit.fontawesome.com/eb1bb051d4.js"></script>
</head>
<body>
	<section th:replace="plantilla/plantilla :: sidebar"></section>
	<section class="full-box dashboard-contentPage">
		<nav th:replace="plantilla/plantilla :: navbar"></nav>
		<div class="container-fluid">
			<div class="col px-0">
				<div class="alert alert-success alert-dismissible show mt-2" role="alert" th:if="${success}">
				  <i class="far fa-check-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${success}"></strong>
				</div>
				<div class="alert alert-danger alert-dismissible show mt-2" role="alert" th:if="${error}">
				  <i class="far fa-times-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${error}"></strong>
				</div>
				<div class="alert alert-warning alert-dismissible show mt-2" role="alert" th:if="${warning}">
				  <i class="fas fa-exclamation-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${warning}"></strong>
				</div>
				<div class="alert alert-info alert-dismissible show mt-2" role="alert" th:if="${info}">
				  <i class="fas fa-info-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${info}"></strong>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="page-header">
			  <h1 class="text-titles"><i class="zmdi zmdi-font zmdi-hc-fw"></i> Cargar datos <small>Productos - Servicios</small></h1>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<ul class="nav nav-tabs" style="margin-bottom: 15px;">
					  	<li class="active"><a href="#list" data-toggle="tab">Cargar datos</a></li>
					</ul>
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane active in" id="new">
							<div class="container-fluid">
								<div class="row justify-content-center">
									<div class="col-10 justify-content-center d-flex">
									    <form th:action="@{/productos-servicios/cargar-datos}" method="post" enctype='multipart/form-data'>
									    	<h1 class="text-titles mt-3">Selecciona un archivo excel</h1>
									    	<hr>
									    	<div>
										    	<label class="mdl-button mdl-js-button mdl-button--icon mdl-button--file">
	  												<i class="material-icons"></i><input type="file" id="file" name="file" required>
												</label>
									    	</div>
									    	<button type="submit" class="btn btn-block btn-primary btn-raised">cargar datos</button>
									    </form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="plantilla/plantilla :: footer-scripts"></footer>
	
	<script>
		function goBack() {
		  window.history.back();
		}
	</script>
	
</body>
</html>