<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Servicios | BarberXsystem</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap2.min.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<link rel="shotcut icon" th:href="@{/img/logo.png}">
	<script src="https://kit.fontawesome.com/eb1bb051d4.js"></script>
</head>
<body>
	<section th:replace="plantilla/plantilla :: sidebar"></section>
	<section class="full-box dashboard-contentPage">
		<nav th:replace="plantilla/plantilla :: navbar"></nav>
		<div class="container-fluid">
			<div class="col px-0">
				<div class="alert alert-success alert-dismissible show mt-2" role="alert" th:if="${success}">
				  <i class="far fa-check-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${success}"></strong>
				</div>
				<div class="alert alert-danger alert-dismissible show mt-2" role="alert" th:if="${error}">
				  <i class="far fa-times-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${error}"></strong>
				</div>
				<div class="alert alert-warning alert-dismissible show mt-2" role="alert" th:if="${warning}">
				  <i class="fas fa-exclamation-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${warning}"></strong>
				</div>
				<div class="alert alert-info alert-dismissible show mt-2" role="alert" th:if="${info}">
				  <i class="fas fa-info-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${info}"></strong>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="page-header">
			  <h1 class="text-titles"><i class="zmdi zmdi-font zmdi-hc-fw"></i> Servicios <small>Servicios disponibles</small></h1>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<form th:action="@{/servicio/cliente}" method="post">
						<div class="form-row">
							<div class="col form-group">
								<label for="nombre">Buscar por nombre</label>
								<input class="form-control" id ="nombre" name="nombre" required>
							</div>
							<div class="col align-items-end d-flex form-group">
								<button type="submit" class="btn btn-raised btn-primary">Enviar</button>
								<a th:href="@{/servicio/cliente/limpiar}" class=" ml-2 btn btn-raised btn-dark">Limpiar</a>
							</div>
						</div>
					</form>
					<ul class="nav nav-tabs" style="margin-bottom: 15px;">
					  	<li class="active"><a href="#list" data-toggle="tab">Servicios</a></li>
					</ul>
					<div id="myTabContent" class="tab-content">
					  	<div class="tab-pane active" id="list">
							<div class="table-responsive">
								<table class="table table-hover text-center">
									<thead>
										<tr>
											<th class="text-center">ID</th>
											<th class="text-center">Nombre</th>
											<th class="text-center">Precio</th>
											<th class="text-center">Descripcion</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="s:${servicios}">
											<td th:text="${s.idProductoServ}"></td>
											<td th:text="${s.nombre}"></td>
											<td th:text="${'$'+s.precioVenta}"></td>
											<td th:text="${s.descripcion}"></td>
										</tr>
									</tbody>
								</table>
							</div>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="plantilla/plantilla :: footer-scripts"></footer>

	<script>
		function goBack() {
		  window.history.back();
		}
		
		function confirmDelete(id){
	    	$('#modal-delete-prod-serv').modal('show');
	    	$("#idProdServMD").val(id);
	    }
	    
	    function deleteProdServ(){
	    	var id = $("#idProdServMD").val();
	        window.location = "/producto-servicio/eliminar/"+id;
	    }
	</script>
	
</body>
</html>