<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	>
<head>
	<meta charset="ISO-8859-1">
	<title>Error 500 | BarberXsystem</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap2.min.css}">
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<script src="https://kit.fontawesome.com/eb1bb051d4.js"></script>
	<link rel="shotcut icon" th:href="@{/img/logo.png}">
</head>
<body>
	<div class="container py-4">
		<div class="row">
			<div class="col-6">
				<div class="alert alert-success alert-dismissible fade show mt-2" role="alert" th:if="${success}">
				  <i class="far fa-check-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${success}"></strong>
				</div>
				<div class="alert alert-danger alert-dismissible fade show mt-2" role="alert" th:if="${error}">
				  <i class="far fa-times-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${error}"></strong>
				</div>
				<div class="alert alert-warning alert-dismissible fade show mt-2" role="alert" th:if="${warning}">
				  <i class="fas fa-exclamation-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${warning}"></strong>
				</div>
				<div class="alert alert-info alert-dismissible fade show mt-2" role="alert" th:if="${info}">
				  <i class="fas fa-info-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${info}"></strong>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-6">
				<h1 class="text-titles text-center">Error interno de servidor</h1>
				<img th:src="@{/img/500.jpg}" class="img-fluid">
				<hr>
				<button type="button" th:onclick="goBack()" class="btn btn-dark btn-raised btn-lg btn-block rounded-pill font-weight-bold">
					<i class="fas fa-arrow-circle-left mr-1"></i>
					Volver
				</button>
			</div>
		</div>
	</div>
</body>
<script>
	function goBack(){
		window.history.back();
	}
</script>
</html>