<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Ingresos | BarberXsystem</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap2.min.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<link rel="shotcut icon" th:href="@{/img/logo.png}">
	<script src="https://kit.fontawesome.com/eb1bb051d4.js"></script>
</head>
<body>
	<section th:replace="plantilla/plantilla :: sidebar"></section>
	<section class="full-box dashboard-contentPage">
		<nav th:replace="plantilla/plantilla :: navbar"></nav>
		<div class="container-fluid">
			<div class="col px-0">
				<div class="alert alert-success alert-dismissible show mt-2" role="alert" th:if="${success}">
				  <i class="far fa-check-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${success}"></strong>
				</div>
				<div class="alert alert-danger alert-dismissible show mt-2" role="alert" th:if="${error}">
				  <i class="far fa-times-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${error}"></strong>
				</div>
				<div class="alert alert-warning alert-dismissible show mt-2" role="alert" th:if="${warning}">
				  <i class="fas fa-exclamation-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${warning}"></strong>
				</div>
				<div class="alert alert-info alert-dismissible show mt-2" role="alert" th:if="${info}">
				  <i class="fas fa-info-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${info}"></strong>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="page-header">
			  <h1 class="text-titles"><i class="zmdi zmdi-font zmdi-hc-fw"></i> Ingresos <small>Total diario</small></h1>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-6">
					<div class="jumbotron">
						<h2 class="text-titles justify-content-between d-flex">
							<span>Productos</span>
							<span th:text="${'$'+productos}"></span>
						</h2>
						<h2 class="text-titles justify-content-between d-flex">
							<span>Servicios</span>
							<span th:text="${'$'+servicios}"></span>
						</h2>
						<hr>
						<h1 class="text-titles justify-content-between d-flex">
							<span>Total</span>
							<span th:text="${'$'+total}"></span>
						</h1>
					</div>
				</div>
				<div class="col-xs-12">
					
					<ul class="nav nav-tabs" style="margin-bottom: 15px;">
					  	<li class="active"><a href="#list" data-toggle="tab">Todos los ingresos</a></li>
					</ul>
					<div id="myTabContent" class="tab-content">
					  	<div class="tab-pane active" id="list">
							<div class="table-responsive">
								<table class="table table-hover text-center">
									<thead>
										<tr>
											<th class="text-center">ID</th>
											<th class="text-center">Hora</th>
											<th class="text-center">Estilista</th>
											<th class="text-center">Total</th>
											<th class="text-center">Detalles</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="i:${ingresosDiarios}">
											<td th:text="${i.idRecibo}"></td>
											<td th:text="${#dates.format(i.hora, 'HH:mm')}"></td>
											<td th:text="${i.estilista.usuario.nombres+' '+i.estilista.usuario.apellidos}"></td>
											<td th:text="${'$'+i.total}"></td>
											<td>
												<a th:href="@{/ingreso/detalles/}+${i.idRecibo}">
													<i class="fas fa-bars"></i>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="plantilla/plantilla :: footer-scripts"></footer>
	
	<div th:include="Views/SI/Admin/modalDeleteAdmin.html" th:remove="tag"></div>

	<script>
		function confirmDelete(id){
	    	$('#modal-delete-admin').modal('show');
	    	$("#idAdminMD").val(id);
	    }
	    
	    function deleteAdmin(){
	    	var id = $("#idAdminMD").val();
	        window.location = "/admin/eliminar/"+id;
	    }
	</script>
</body>
</html>