<head>
	<meta charset="UTF-8">
</head>
<!-- Modal -->
<div class="modal" id="modalAddEstilista" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Agregar estilista</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      	<form class="" th:action="@{/ingreso/agregar-estilista}" method="post">
	      <div class="modal-body">
	        <h2 class="text-titles text-center" id="nombreProdServ"></h2>
	        <hr>
	        <div class="form-group label-floating">
	        	<label class="control-label">Seleccione estilista</label>
	        	<select class="custom-select custom-select-lg" id="idEstilista" name="idEstilista" required>
	        		<option th:value="''" th:text="''"/>
	        		<option th:each="e:${estilistas}" th:value="${e.idEstilista}" th:text="${e.usuario.nombres+' '+e.usuario.apellidos}"/>
	        	</select>
        	</div>
	      </div>
	      <div class="modal-footer">
        	<div class="form-group">
        		<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        		<button type="submit" class="btn btn-primary">Aceptar</button>
        	</div>
	      </div>
      </form>
    </div>
  </div>
</div>
