<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Citas | BarberXsystem</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap2.min.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<link rel="shotcut icon" th:href="@{/img/logo.png}">
	<script src="https://kit.fontawesome.com/eb1bb051d4.js"></script>
</head>
<body>
	<section th:replace="plantilla/plantilla :: sidebar"></section>
	<section class="full-box dashboard-contentPage">
		<nav th:replace="plantilla/plantilla :: navbar"></nav>
		<div class="container-fluid">
			<div class="col px-0">
				<div class="alert alert-success alert-dismissible show mt-2" role="alert" th:if="${success}">
				  <i class="far fa-check-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${success}"></strong>
				</div>
				<div class="alert alert-danger alert-dismissible show mt-2" role="alert" th:if="${error}">
				  <i class="far fa-times-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${error}"></strong>
				</div>
				<div class="alert alert-warning alert-dismissible show mt-2" role="alert" th:if="${warning}">
				  <i class="fas fa-exclamation-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${warning}"></strong>
				</div>
				<div class="alert alert-info alert-dismissible show mt-2" role="alert" th:if="${info}">
				  <i class="fas fa-info-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${info}"></strong>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="page-header">
			  <h1 class="text-titles"><i class="zmdi zmdi-font zmdi-hc-fw"></i> Ingresos <small>Cobro de ingreso</small></h1>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-xs-12">
					<ul class="nav nav-tabs" style="margin-bottom: 15px;">
					  	<li class="active"><a href="#list" data-toggle="tab">Ingreso agregado correctamente</a></li>
					</ul>
				</div>
				<div class="col-6">
					<h1 class="text-titles">Ingreso agregado correctamente!</h1>
					<hr>
					<div class="jumbotron">
						<h2 class="text-titles d-flex justify-content-between">
							<span>Estilista</span>
							<span th:text="${recibo.estilista.usuario.nombres+' '+recibo.estilista.usuario.apellidos}"></span>
						</h2>
						<h2 class="text-titles d-flex justify-content-between">
							<span>Ingreso</span>
							<span th:text="${recibo.numeroRecibo}"></span>
						</h2>
						<h2 class="text-titles d-flex justify-content-between">
							<span>Fecha</span>
							<span th:text="${#calendars.format(recibo.fecha, 'dd/MMM/yyyy')}"></span>
						</h2>
						<h2 class="text-titles d-flex justify-content-between">
							<span>Hora</span>
							<span th:text="${#dates.format(recibo.hora, 'HH:mm')}"></span>
						</h2>
						<h2 class="text-titles d-flex justify-content-between">
							<span>Total</span>
							<span th:text="${'$'+recibo.total}"></span>
						</h2>
						<hr>
						<h2 class="text-titles d-flex justify-content-between">
							<span>Efectivo</span>
							<span th:text="${'$'+recibo.efectivo}"></span>
						</h2>
						<h2 class="text-titles d-flex justify-content-between">
							<span>Cambio</span>
							<span th:text="${'$'+recibo.cambio}"></span>
						</h2>
					</div>
					<a th:href="@{/ingreso/index}" class="btn btn-secondary btn-raised">Volver a nuevo ingreso</a>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="plantilla/plantilla :: footer-scripts"></footer>
	
	<div th:include="Views/SI/Admin/modalDeleteAdmin.html" th:remove="tag"></div>

	<script>
		function confirmDelete(id){
	    	$('#modal-delete-admin').modal('show');
	    	$("#idAdminMD").val(id);
	    }
	    
	    function deleteAdmin(){
	    	var id = $("#idAdminMD").val();
	        window.location = "/admin/eliminar/"+id;
	    }
	</script>
</body>
</html>