<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Citas | BarberXsystem</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap2.min.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<link rel="shotcut icon" th:href="@{/img/logo.png}">
	<script src="https://kit.fontawesome.com/eb1bb051d4.js"></script>
</head>
<body>
	<section th:replace="plantilla/plantilla :: sidebar"></section>
	<section class="full-box dashboard-contentPage">
		<nav th:replace="plantilla/plantilla :: navbar"></nav>
		<div class="container-fluid">
			<div class="col px-0">
				<div class="alert alert-success alert-dismissible show mt-2" role="alert" th:if="${success}">
				  <i class="far fa-check-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${success}"></strong>
				</div>
				<div class="alert alert-danger alert-dismissible show mt-2" role="alert" th:if="${error}">
				  <i class="far fa-times-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${error}"></strong>
				</div>
				<div class="alert alert-warning alert-dismissible show mt-2" role="alert" th:if="${warning}">
				  <i class="fas fa-exclamation-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${warning}"></strong>
				</div>
				<div class="alert alert-info alert-dismissible show mt-2" role="alert" th:if="${info}">
				  <i class="fas fa-info-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${info}"></strong>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="page-header">
			  <h1 class="text-titles"><i class="zmdi zmdi-font zmdi-hc-fw"></i> Agendar cita <small>Seleccionar hora</small></h1>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<ul class="nav nav-tabs" style="margin-bottom: 15px;">
					  	<li class="active"><a href="#list" data-toggle="tab">Seleccionar hora</a></li>
					</ul>
					<h1 class="text-titles text-center text-secondary" th:text="${cita.estilista.usuario.nombres+' '+cita.estilista.usuario.apellidos}"></h1>
					<h1 class="text-titles text-center" th:text="${#calendars.format(cita.fecha, 'dd/MMM/yyyy')}"></h1>
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane active in" id="new">
							<div class="container-fluid">
								<div class="row justify-content-center">
									<div class="col-10">
									    <form th:action="@{/cita/cliente/hora}" th:object="${cita}" method="post">
									    	<input type="hidden" th:field="*{usuario.idUsuario}">
									    	<input type="hidden" th:field="*{fecha}">
									    	<input type="hidden" th:field="*{estilista.idEstilista}">
											<div class="form-group label-floating">
											  <label class="control-label">Seleccione turno</label>
											  <select class="form-control" th:field="*{hora}" required>
											  	<option th:text="''" th:value="''"/>
											  	<option th:each="t:${turnos}" th:text="${t}" th:value="${t}"/>
											  </select>
											</div>
										    <p class="text-center">
										    	<button type="submit" class="btn btn-info btn-raised btn-sm"><i class="zmdi zmdi-floppy"></i> SIGUIENTE</button>
										    </p>
										    <p class="text-center">
										    	<a th:href="@{/cita/cliente/cancelar}" class="text-center">Cancelar</a>
										    </p>
			    						</form>
									</div>
								</div>
							</div>
						</div>
					  	<div class="tab-pane" id="list">
							<div class="table-responsive">
								<table class="table table-hover text-center">
									<thead>
										<tr>
											<th class="text-center">ID</th>
											<th class="text-center">Username</th>
											<th class="text-center">Usuario</th>
											<th class="text-center">Eliminar</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="a:${admins}">
											<td th:text="${a.idAdmin}"></td>
											<td th:text="${a.usuario.username}"></td>
											<td th:text="${a.usuario.nombres+' '+a.usuario.apellidos}"></td>
											<td><a href="#" th:onclick="'javascript:confirmDelete(\'' + ${a.idAdmin} + '\' );'" class="btn btn-danger btn-raised btn-xs"><i class="zmdi zmdi-delete"></i></a></td>
										</tr>
									</tbody>
								</table>
		<!-- 						<ul class="pagination pagination-sm"> -->
		<!-- 						  	<li class="disabled"><a href="#!">«</a></li> -->
		<!-- 						  	<li class="active"><a href="#!">1</a></li> -->
		<!-- 						  	<li><a href="#!">2</a></li> -->
		<!-- 						  	<li><a href="#!">3</a></li> -->
		<!-- 						  	<li><a href="#!">4</a></li> -->
		<!-- 						  	<li><a href="#!">5</a></li> -->
		<!-- 						  	<li><a href="#!">»</a></li> -->
		<!-- 						</ul> -->
							</div>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="plantilla/plantilla :: footer-scripts"></footer>
	
	<div th:include="Views/SI/Admin/modalDeleteAdmin.html" th:remove="tag"></div>

	<script>
		function confirmDelete(id){
	    	$('#modal-delete-admin').modal('show');
	    	$("#idAdminMD").val(id);
	    }
	    
	    function deleteAdmin(){
	    	var id = $("#idAdminMD").val();
	        window.location = "/admin/eliminar/"+id;
	    }
	</script>
</body>
</html>