<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Citas | BarberXsystem</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap2.min.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<link rel="shotcut icon" th:href="@{/img/logo.png}">
	<script src="https://kit.fontawesome.com/eb1bb051d4.js"></script>
</head>
<body>
	<section th:replace="plantilla/plantilla :: sidebar"></section>
	<section class="full-box dashboard-contentPage">
		<nav th:replace="plantilla/plantilla :: navbar"></nav>
		<div class="container-fluid">
			<div class="col px-0">
				<div class="alert alert-success alert-dismissible show mt-2" role="alert" th:if="${success}">
				  <i class="far fa-check-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${success}"></strong>
				</div>
				<div class="alert alert-danger alert-dismissible show mt-2" role="alert" th:if="${error}">
				  <i class="far fa-times-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${error}"></strong>
				</div>
				<div class="alert alert-warning alert-dismissible show mt-2" role="alert" th:if="${warning}">
				  <i class="fas fa-exclamation-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${warning}"></strong>
				</div>
				<div class="alert alert-info alert-dismissible show mt-2" role="alert" th:if="${info}">
				  <i class="fas fa-info-circle mr-1"></i>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <strong th:text="${info}"></strong>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="page-header">
			  <h1 class="text-titles"><i class="zmdi zmdi-font zmdi-hc-fw"></i> Agendar cita <small>Seleccionar servicios</small></h1>
			</div>
			<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse voluptas reiciendis tempora voluptatum eius porro ipsa quae voluptates officiis sapiente sunt dolorem, velit quos a qui nobis sed, dignissimos possimus!</p>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<ul class="nav nav-tabs" style="margin-bottom: 15px;">
					  	<li class="active"><a href="#list" data-toggle="tab">Servicios</a></li>
					</ul>
					<h1 class="text-titles text-center" th:text="${cita.estilista.usuario.nombres+' '+cita.estilista.usuario.apellidos}"></h1>
					<h1 class="text-titles text-center text-secondary" th:text="${cita.hora}"></h1>
					<h1 class="text-titles text-center text-secondary" th:text="${cita.fecha}"></h1>
					<form class="justify-content-center d-flex" th:action="@{/cita/cliente/solicitar}">
						<div class="form-group">
							<label>Servicios</label>
							<select class="custom-select custom-select-lg" id="servicio" name="servicio" required>
								<option th:text="''" th:value="''">
								<option th:each="s:${servicios}" th:text="${s.nombre}" th:value="${s.idProductoServ}">
							</select>
							<button type="button" th:onclick="confirmCita()" class="btn btn-info btn-raised btn-sm float-right"><i class="zmdi zmdi-floppy"></i> PROGRAMAR CITA</button>
						</div>
					</form>
				    <hr>
				    <p class="text-center">
				    	<a th:href="@{/cita/cliente/cancelar}">CANCELAR</a>
				    </p>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="plantilla/plantilla :: footer-scripts"></footer>
	
	<div th:include="Views/SI/Citas/modalConfirmCita.html" th:remove="tag"></div>
	
	<script>
		function confirmCita(){
			var idServicio = $("#servicio").val();
			if(servicio != ''){
				$('#confirmCita').modal('show');
			}
	    	$("#idServicio").val(idServicio);
	    }
	</script>
</body>
</html>